<div class="whisper" flex>

    <div class="whisperCreator" ng-controller="WhisperCreatorController">
        <md-whiteframe class="md-whiteframe-z1" layout="row" layout-align="center center">
            <!-- <div class="whisperTitle">
                <label>Whisper</label>
            </div> -->
            <div flex>
                <form name="whisperForm">
                    <md-input-container>
                        <label>Got something to say?</label>
                        <input ng-model="whisper.content">
                    </md-input-container>
                </form>
            </div>
        </md-whiteframe>
    </div>

    <div class="whispersList" ng-controller="WhisperListController">
        <md-list>
            <md-item ng-repeat="item in messages">
                <md-item-content>
                    <div class="md-tile-content">
                        <h3>{{item.what}}</h3>
                        <h4>{{item.who}}</h4>
                        <p>
                            {{item.notes}}
                        </p>
                    </div>
                </md-item-content>
            </md-item>
        </md-list>
    </div>

</div>
