<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
    <title>Whisper</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />

    <link rel="stylesheet" href="./bower_components/angular-material/angular-material.css">
    <link rel="stylesheet" href="./app.css">
</head>

<body ng-app="whisperApp" layout="row" layout-align="center">

    <div class="whisperToolbar" layout="column" layout-fill>
        <md-toolbar class="md-primary md-hue-2">
            <div class="md-toolbar-tools">
                <span flex></span>
                <span class="whisperTitle">WHISPER</span>
                <div class="whisperMenu">
                    <md-button>
                        new
                    </md-button>
                    <!-- <md-button>
                        favs
                    </md-button> -->
                </div>
                <span flex></span>
            </div>
        </md-toolbar>
        <md-content>
            <div layout="row" layout-align="center">
                <%- body %>
            </div>
        </md-content>
    </div>

    <script src="./bower_components/angular/angular.js"></script>
    <script src="./bower_components/angular-route/angular-route.js"></script>
    <script src="./bower_components/angular-aria/angular-aria.js"></script>
    <script src="./bower_components/angular-animate/angular-animate.js"></script>

    <script src="./bower_components/angular-material/angular-material.js"></script>

    <script src="./app.js"></script>
    <script src="./src/avatars/avatarService.js"></script>

</body>

</html>
