body {
    padding-top: 70px;
}
.whisperList {
    padding-top: 20px;
}
.whisperPost {
    padding-top: 15px;
}
.whisperPost .author {
    font-size: 12px;
}
.whisperPost .time {
	margin-left: 4px;
    font-size: 11px;
    color: #8899a6;
}
