body {
    padding-top: 35px;
}
.whisperList {
    padding-top: 15px;
}
.whisperPost {
    padding: 10px 15px 10px 15px;
    margin-top: -1px;
    border: #E1E8ED solid 1px;
}
.whisperPost .author {
    font-size: 12px;
    font-weight: bold;
}
.whisperPost .text {
    margin-top: 4px;
}
.whisperPost .timePanel {
    display: flex;
    margin-top: 8px;
}
.whisperPost .time {
    display: flex;
    margin: 0.35em 0 0 4px;
    font-size: 11px;
    color: #8899a6;
}
.whisperPost button {
	margin-right: 4px;
}
