body {
    /*background-color: #000;*/
}
.whisper {
    max-width: 700px;
}
.whisperToolbar {
    /*max-width: 700px;*/
}
.whisperTitle {
    font-size: 30px;
}
.whisperMenu {
    margin: 0 0 0 20px;
}
.whisperCreator md-whiteframe {
    margin: 0px 25px 0px 25px;
}
.whisperCreator .whisperTitle {
    margin: 0px 0px 0px 20px;
}
.whisperCreator md-input-container {
    padding: 10px 15px 10px 15px;
}
.whispersList md-item-content {
    margin: 0px 25px -1px 25px;
    border: 1px solid #ccc;
}
