.whisper {
    max-width: 700px;
}
.whisperCreator md-whiteframe {
    margin: 10px 0px 10px 0px;
}
.whisperCreator .whisperTitle {
    margin: 8px 0px 8px 20px;
}
.whisperCreator md-input-container {
    padding: 20px;
}
.whispersList md-item-content {
    margin: 0px 0px -1px 0px;
    border: 1px solid #ccc;
}
